.venv1/
```bash
*.pyc
*.pyo
*.pyd
__pycache__
venv/
.env/
chromedriver
chromedriver.exe
webdriver-manager/
*.log
.vscode/
.idea/
.cache
nosetests.xml
coverage.xml
*.cover
*.hypothesis/
*.egg
*.egg-info
dist/
build/